body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#foodDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
}
