
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    margin-top: 20px;
}

.result {
    margin-bottom: 10px;
}

.result p {
    margin: 5px 0;
}

.error {
    color: red;
}
#suggestionsContainer {
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion:hover {
    background-color: #ddd;
}

#selectedFoodContainer {
    margin-top: 20px;
    display: none;
}

#selectedFoodDetails {
    margin-top: 10px;
}

#progressBarContainer {
    margin-top: 20px;
    position: relative;
}

#progressBar {
    width: 0;
    height: 20px;
    background-color: #4CAF50;
    transition: width 0.3s ease-in-out;
}

#progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

#goalContainer {
    margin-top: 20px;
    text-align: center;
}

#goalMessage {
    font-weight: bold;
    margin-bottom: 10px;
}