* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agdasima";
}
body {
  overflow: hidden;
}

.container {
  height: 100%;
  width: 250px;
  position: absolute;
  background: white;
  z-index: 1;
  transition: 0.5s ease;
  transform: translateX(-250px);
}
.container .head {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  background: black;
}
ol {
  width: 100%;
  list-style: none;
}
ol li {
  display: block;
  width: 100%;
}
ol li a {
  color: black;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  text-transform: capitalize;
}
ol li a i {
  width: 70px;
  font-size: 25px;
  text-align: center;
  padding-left: 30px;
}
ol li:hover a {
  background-color: grey;
  transition: 0.1s;
  color: white;
}
input {
  visibility: hidden;
  display: none;
}
span {
  position: absolute;
  right: -40px;
  top: 10px;
  font-size: 25px;
  border-radius: 3px;
  color: #fff;
  padding: 3px 8px;
  cursor: pointer;
  background-color: #000;
}
#bars {
  background: black;
}
#check:checked ~ .container {
  transform: translateX(0);
}
#check:checked ~ .container #bars {
  display: none;
}
section {
  min-height: 100vh;
  background: url(img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  filter: brightness (60%);
}
#check:checked ~ section {
  transform: scale(1, 2);
  filter: brightness(20%);
}
.fas fa-qrcode li {
  padding: 30pxpx;
}
